@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Signika+Negative:wght@300;400;500;600;700&display=swap');
/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Custom color theme properties */
:root {
  --f7-font-family:'Poppins', sans-serif;
  --f7-theme-color: #4558ba;
  --f7-theme-color-rgb: 69, 88, 186;
  --f7-theme-color-shade: #3a4a9c;
  --f7-theme-color-tint: #6373c5;
  --f7-color-secondary: #ffff33;
  --f7-color-secondary-rgb: 255, 255, 51;
  --f7-color-secondary-shade: #a3a22a;
  --f7-color-secondary-tint: #ffff85;
}

.color-primary {
  --f7-theme-color: #4558ba;
  --f7-theme-color-rgb: 69, 88, 186;
  --f7-theme-color-shade: #3a4a9c;
  --f7-theme-color-tint: #6373c5;
}

/* Your app custom styles here */
.text-color-secondary {
  --f7-theme-color-text-color: var(--f7-color-secondary);
}
.text-color-secondary {
  --f7-theme-color-text-color: var(--f7-color-secondary);
}
.bg-color-secondary {
  --f7-theme-color-bg-color: var(--f7-color-secondary);
}
.border-color-secondary {
  --f7-theme-color-border-color: var(--f7-color-secondary);
}
.ripple-color-secondary {
  --f7-theme-color-ripple-color: rgba(var(--f7-color-secondary-rgb), 0.3);
}
.color-secondary {
  --f7-theme-color: var(--f7-color-secondary);
  --f7-theme-color-rgb: var(--f7-color-secondary-rgb);
  --f7-theme-color-shade: var(--f7-color-secondary-shade);
  --f7-theme-color-tint: var(--f7-color-secondary-tint);
}

.button-circle {
  border-radius: 50% !important
}

.navbar-bg.transparent {
  background-color: transparent !important;
}
.navbar.color-white {
  --f7-navbar-text-color: white !important;
}

.indicator-container {
  padding: var(--f7-typography-padding) !important;
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  & > .currency-indicator {
    --f7-chip-height: 40px;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
  
    & > .indicator-media {
      display: flex;
      flex-shrink: 1;
      background-color: var(--f7-theme-color);
      padding: 0.5rem;
      margin-left: -0.25rem;
      border-radius: 25% 0% 0% 25%;
      & > img {
        width: 25px;
        height: 25px;
      }
    }
    & > .indicator-label {
      font-size: 1rem;
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
      align-items: center;
      padding-left: 1rem;
      padding-right: 1rem;
      background-color: var(--f7-theme-color-tint);
      border-radius: 0% 25% 25% 0;
    }
  }
}



.icon-button {
  width: initial;
  padding-top: 1.375rem !important;
  padding-bottom: 1.375rem !important;
  &.start-button {
    width: 87.5px !important;
    height: 87.5px !important;
  }
  &.play-button {
    width: 235px !important;
    height: 235px !important;
  }
  &.button-small {
    padding-top: 1.125rem !important;
    padding-bottom: 1.125rem !important;
    & > .icon {      
      font-size: 1.25rem !important;
    } 
  }
  &.button-large {
    padding-left: .75rem !important;
    padding-right: .75rem !important;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    & > .icon {      
      font-size: 2.5rem !important;
    } 
  }
}
.navbar-inner.vertical {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
  padding-right: 0.25rem !important;
  display: flex !important;
  justify-content: flex-start !important;
  flex-direction: column !important;
  flex-wrap: wrap !important;
  flex-grow: 1 !important;
  max-width: 100%;
  align-items: flex-end !important;
  &.bottom {
    justify-content: flex-end !important;
  }
  &.top {
    justify-content: flex-start !important;
  }
  &.center-left {
    align-items: flex-start !important;
    justify-content: center !important;
    & > .link-container  {
      justify-content: flex-start !important;
      & > .link {
        margin-left: 1.25rem !important;
      }
    }
  }
  &.center-right {
    align-items: flex-end !important;
    justify-content: center !important;
    & > .link-container  {
      justify-content: flex-end !important;
      & > .link {
        margin-right: 1.25rem !important;
      }
    }
  }
  &.center {
      justify-content: center !important;
  }
  &.left {
    & > .link-container  {
      & > .link {
        margin-left: 1.25rem !important;
      }
      justify-content: flex-start !important;
    }
  }
  &.right {
    & > .link-container  {
      & > .link {
        margin-right: 1.25rem !important;
      }
      justify-content: flex-end !important;
    }
  }
  &.bottom-left {
    align-items: flex-start !important;
    justify-content: flex-end !important;
    & > .link-container  {
      & > .link {
        margin-left: 1.25rem !important;
      }
      justify-content: flex-start !important;
    }
  }
  &.top-left {
    align-items: flex-start !important;
    justify-content: flex-start !important;
    & > .link-container  {
      & > .link {
        margin-left: 1.25rem !important;
      }
      justify-content: flex-start !important;
    }
  }
  &.top-right {
    align-items: flex-end !important;
    justify-content: flex-start !important;
    & > .link-container  {
      & > .link {
        margin-right: 1.25rem !important;
      }
      justify-content: flex-end !important;
    }
  }
  &.bottom-right {
    align-items: flex-end !important;
    justify-content: flex-end !important;
    & > .link-container  {
      & > .link {
        margin-right: 1.25rem !important;
      }
      justify-content: flex-end !important;
    }
  }
  & > .link-container  {
    & > .link {
      margin: .25rem !important;
      margin-top: .25rem !important;
      margin-bottom: .75rem !important;
    }
  }
}
.link-container {
  display: flex;
  width: 100%;
}
.navbar.vertical {
  z-index: 500 !important;
  width: 100%;
  height: 75%;
  display: flex !important;
  justify-content: flex-start !important;
  flex-direction: column !important;
  flex-wrap: wrap !important;
  flex-grow: 0 !important;
}


@for $i from 0 through 100 {
  .w-#{$i} {
    width: $i * 1% !important;
  }
  .h-#{$i} {
    height: $i * 1% !important;
  }
  .max-w-#{$i} {
    max-width: $i * 1% !important;
  }
  .max-h-#{$i} {
    max-height: $i * 1% !important;
  }
  .min-w-#{$i} {
    min-width: $i * 1% !important;
  }
  .min-h-#{$i} {
    min-height: $i * 1% !important;
  }
  .vw-#{$i} {
    width: $i * 1vw !important;
  }
  .vh-#{$i} {
    width: $i * 1vh !important;
  }
}

@for $i from 0 through 1000 {
  .level-#{$i} {
    z-index: $i !important;
  }
}
.w-auto {
  width: auto !important;
}
.h-auto {
  height: auto !important;
}
.w-initial {
  width: initial !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}
.flex-nowrap {
  flex-wrap: nowrap !important;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}

.position-fixed {
  &.indicator {
    z-index: 25;
  }
  position: fixed;
}